/* StudyCard css */
.CardBlock {
  margin: 20px;
  display: flex;
  width: 70%;
  height: 80%;
  background-color: #ffce6d;
  border-radius: 33px;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.HeadingText {
  color: #222222;
  font-family: "SCDream7";
  font-weight: 700;
  font-size: 20px;
}

.Content {
  font-size: 18px;
  font-family: "SCDream4";
  height: 70%;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
/* StudyCardTitle css */
.TitleBody {
  background-color: #ffce6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  padding: 10px;
  margin: 5px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.TitleLink {
  text-decoration: none;
  font-size: 18px;
  font-family: "SCDream4";
  color: #222222;
}
.TitleLink:hover {
  color: #f36444;
}
.TitleBody p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ActivityPage css */
.body {
  display: flex;
  background-image: url("../../public/img/ActivityBack.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.representativeImg img {
  width: 300px;
}
.BoardTitleList {
  padding: 0px;
  width: 80%;
}
.BoardTitleDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  margin: 10px;
}
.BoardTitle {
  cursor: pointer;
}
.BoardTitle:hover {
  color: #f36444;
}

.right {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 30% 30% 30%;
  align-content: center;
}

.cardTitleList {
  grid-column: 1 / span 2;
  width: 80%;
}
.pagination {
  grid-column: 1 / span 2;
}

/* 태블릿 및 모바일용 CSS */
@media all and (max-width:768px){
  .body{
    display: flex;
    flex-direction: column;
    background-image: none;
  }
  .left{
    display: flex;
    flex-direction: column-reverse;
  }
  .representativeImg img {
    width: 250px;    
  }

}