@font-face {
  font-family: "SCDream1";
  font-weight: 100;
  src: url(font/SCDream1.otf);
}
@font-face {
  font-family: "SCDream2";
  font-weight: 200;
  src: url(font/SCDream2.otf);
}
@font-face {
  font-family: "SCDream3";
  font-weight: 300;
  src: url(font/SCDream3.otf);
}
@font-face {
  font-family: "SCDream4";
  font-weight: 400;
  src: url(font/SCDream4.otf);
}
@font-face {
  font-family: "SCDream5";
  font-weight: normal;
  src: url(font/SCDream5.otf);
}

@font-face {
  font-family: "SCDream6";
  font-weight: bold;
  src: url(font/SCDream6.otf);
}

@font-face {
  font-family: "SCDream7";
  font-weight: 700;
  src: url(font/SCDream7.otf);
}
@font-face {
  font-family: "SCDream8";
  font-weight: 800;
  src: url(font/SCDream8.otf);
}

@font-face {
  font-family: "SCDream9";
  font-weight: 900;
  src: url(font/SCDream9.otf);
}

@font-face {
  font-family: "AbrilFatface";
  src: url(font/AbrilFatface-Regular.ttf);
}
