.navbar {
    background: linear-gradient( to right, #DB3655, #D95770 );
    height: 80px;
    width: 100%;
    display: flex;
    font-size: 24px;
    color: #F7F5DD;
    justify-content: space-between;
    align-content: center;
    font-family: "MADE Mirage";
}

.left{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 30px;
}

.nav-logo {
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 10px;
}

.nav-links {
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #F7F5DD;
    transition: 0.3s;
}

.active {
    font-family: "MADE Mirage Black";
    color: #FFFFFF;
    text-shadow : 3px 3px 6px #FFFFFF;  
    text-decoration:underline;
}